@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
* {
  margin: 0;
  padding: 0;
}

.App {
  margin: 0 auto;
  width: 100%;
}

.banner {
  border-bottom: 2px solid white;
  background: #000000;
  color: white;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: black;
}
    
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 25px;
}

body[data-theme=light] {
background:url(./bg2.png) no-repeat;
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
  color: rgb(255, 255, 255);
  -webkit-transition: background-color 1050ms ease-in-out;
  transition: background-color 1050ms ease-in-out;
  font-family: "Architects Daughter", cursive;
}

body[data-theme=dark] {
  background:url(./bg3.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  -webkit-transition: background-color 1050ms ease-in-out;
  transition: background-color 1050ms ease-in-out;
  font-family: "Architects Daughter", cursive;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: transparent;
  background: linear-gradient(90deg, rgb(119, 0, 255), rgb(190, 190, 190), rgb(235, 223, 244), rgb(185, 185, 185), rgb(162, 0, 255), rgba(197, 197, 197, 0.985));
  background-clip: text;
  transition: 0.5s ease-in-out;
  animation: move 30s linear infinite;
}

@keyframes move {
    0% {
        background-position: -1000px 0;
    }
    50%,
    100% {
        background-position: 1000px 0;
    }
    100% {
        background-position: -1000px 0;
    }
}

.dark {
  margin-right: 1rem !important;
  right: 0 !important;
  position: absolute !important;
  height: 32px;
  width: 80px;
  top: 0 !important;
  padding-top: 2rem !important;
}

h2 {
  margin-bottom: 2em;
}

.radio {
  width: 100%;
  margin-top: 5rem;
  margin: 0 auto;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
  width: 100%;
  background: #000000fa;
  color: white;
  border-bottom: 2px solid white;
  margin-bottom: 1rem;
}

.filters span {
  margin: 1rem;
  border: 2px solid #ffffffad;
  border-radius: 10px;
  color: #8000ff;
  background: #0000008a;
  padding: 0.25em 0.75em;
  font-weight: 800;
}

.filters span:hover {
  cursor: pointer;
  color: #8000ff;
  background: white;
  border: 2px solid  #8000ff;
}

.filters .selected {
  background: #8000ff;
  color: white;
  border: 2px solid  #ffffffba;
}

.stations {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.station {
  width: 400px;
  font-size: 1.4rem;
  margin: 1.25rem;
  border: 2px solid #ffffffad;
  border-radius: 10px;
  background: #0000008b;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.station:hover {
  border-color: #8103ffba;
}

.stationName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1em;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.name {
  width: 100%;
  text-align: center;
}

.stationName img {
  display: block;
  width: 4.5em;
  height: 4.5em;
  border: 2px solid #3e5f4a;
  margin: 0 0.25em;
}

audio {
  width: 100%;
}

.rhap_container.player {
  background-color: #8103ffba;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  padding: 0.25em 0.75em;
  border-radius: 10px;
}

.rhap_stacked .rhap_controls-section {
  margin-top: 0 !important;
}

.rhap_controls-section .rhap_volume-controls {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rhap_controls-section .rhap_main-controls button[aria-label="Play"] svg path {
  fill: #ebebeb !important;
}

.rhap_controls-section .rhap_main-controls button[aria-label="Pause"] svg path {
  fill: #08f328 !important;
}

.footer {
  font-size: 30px;
  text-align: center;
  border-top: 1px solid white;
  margin-top: 1rem;
  padding: 1rem;
}

.footer p span {
  color: #01ff5e;
  padding: 1rem;
}

@media (max-width: 1700px) {
    .animation-left{
        height: 80px !important;
        width: 150px !important;
    }
    .animation-right{
        height: 80px !important;
        width: 150px !important;
    }
}

@media (max-width: 1500px) {
    .animation-left{
        display: none !important;
    }
    .animation-right{
        display: none !important;
    }
}

@media (max-width: 650px) {
  .footer {
    font-size: 18px;
  }
  .station {
    width: 320px;
  }
  .dark {
    display: none;
  }
}